<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Project</th>
      <th>Date</th>
      <th>Client</th>
      <th>Description</th>
      <th>Role</th>
      <th>Github</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>Live Chat Service</td>
    <td>Sept. 2019 - April 2020</td>
    <td><a href="https://streamlineathletes.com/" title="streamline">Streamline Athletes</a></td>
    <td><div class="desc">Implemented a live chat service for the client using Angular Material and Node.js in Typescript. Done in partnership with UBC program.</div></td>
    <td>Worked on API development and some frontend implementations.</td>
    <td><a href="https://github.com/dBaiko/COSC-499-Group-1">Link</a></td>
  </tr>
  <tr>
    <td>Forum Website</td>
    <td>March 2021, WIP</td>
    <td>School Project</td>
    <td><div class="desc">Implemented a forum website with basic functionality. Runs on PHP utilizing the Laravel framework.</div></td>
    <td>Backend development and database schema design.</td>
    <td><a href="https://github.com/merelister/cosc360site">Link</a></td>
  </tr>
  <tr>
    <td>Game-playing AI</td>
    <td>March 2021, WIP</td>
    <td>School Project</td>
    <td><div class="desc">Used Java to implement an AI capable of playing Game of the Amazons. Github is private as of this posting.</div></td>
    <td>To date, mainly pair programming and bug hunting.</td>
    <td><a href="https://github.com/mitchelljoram/COSC-322-Project">Link</a></td>
  </tr>
  <tr>
    <td>This Website!</td>
    <td>March 2021</td>
    <td>Self</td>
    <td><div class="desc">Angular/Typescript/Bulma Portfolio. No backend.</div></td>
    <td>Literally everything</td>
    <td><a href=https://github.com/michwds/portfolio2>Link</a></td>
  </tr>
  </tbody>
</table>
