<section class="section">
  <h2 class="subtitle">
    Hi, thanks for checking out my portfolio! I'm a 4th year Computer Science major at UBCO presently looking for a job in the programming industry.
    Right now, my portfolio is admittedly small. I am not a hobby programmer, and I've intentionally omitted small projects such as labs. However, am a fast
    learner, and I hope to find a job that will let me do just that. I have excellent problem solving and team management skills that I am hoping I can put to use
    sooner rather than later. Thanks again for considering me, and I hope to hear from you soon!
  </h2>
</section>
